{
  "openapi": "3.1.0",
  "info": {
    "title": "POS / POS Referral Onboarding API",
    "description": "Backend for the digital onboarding flow (link generation, form, documents, approvals). Login/auth is provided by an existing system and is not part of this service.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://grid.leadsgenerations.in/recrument-analysis",
      "description": "Production"
    },
    {
      "url": "http://localhost:8000",
      "description": "Local dev"
    }
  ],
  "paths": {
    "/api/v1/links/generate": {
      "post": {
        "tags": [
          "links"
        ],
        "summary": "Generate Link",
        "description": "Called by the SM (Sales Manager) app after the SM logs in and enters\nthe POS / Referral name + mobile number. Creates the onboarding\nrecord and returns a token + shareable URL - nothing is rendered by\nthis backend; the URL points at a route the frontend team owns.",
        "operationId": "generate_link_api_v1_links_generate_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateLinkRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateLinkResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/links/{token}": {
      "get": {
        "tags": [
          "links"
        ],
        "summary": "Resolve Link",
        "description": "The frontend's onboarding page calls this on load (using the :token\nfrom its own route) to validate the link and get the prefill data\n(name, number, user_type, current status) needed to render the\ncorrect form/step. This is how the shared link \"renders\" on the\nfrontend - the backend never serves HTML, it only backs the route.",
        "operationId": "resolve_link_api_v1_links__token__get",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Token"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkPrefillResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/onboarding/{token}": {
      "get": {
        "tags": [
          "onboarding"
        ],
        "summary": "Get Onboarding Record",
        "operationId": "get_onboarding_record_api_v1_onboarding__token__get",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Token"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnboardingRecordResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/onboarding/{token}/form": {
      "put": {
        "tags": [
          "onboarding"
        ],
        "summary": "Save Form",
        "operationId": "save_form_api_v1_onboarding__token__form_put",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Token"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OnboardingFormUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnboardingRecordResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/onboarding/{token}/terms-and-conditions": {
      "put": {
        "tags": [
          "onboarding"
        ],
        "summary": "Update Terms And Conditions",
        "description": "Edits ONLY terms_and_conditions, independent of the general form-save\nendpoint. terms_and_conditions is set to a fixed value at record\ncreation - this is the sole way to change it afterward.",
        "operationId": "update_terms_and_conditions_api_v1_onboarding__token__terms_and_conditions_put",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Token"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TermsAndConditionsUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnboardingRecordResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/onboarding/{token}/submit": {
      "post": {
        "tags": [
          "onboarding"
        ],
        "summary": "Submit Form",
        "description": "Final \"Review & Submit\" step. Runs basic form/document validation and\na duplicate check, then moves the record into the approval workflow\n(UNDER_REVIEW), matching the \"System Processing\" stage in the flow.",
        "operationId": "submit_form_api_v1_onboarding__token__submit_post",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Token"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/onboarding/{token}/documents": {
      "post": {
        "tags": [
          "documents"
        ],
        "summary": "Upload Document",
        "operationId": "upload_document_api_v1_onboarding__token__documents_post",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Token"
            }
          },
          {
            "name": "doc_type",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/DocumentType"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_upload_document_api_v1_onboarding__token__documents_post"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentUploadResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/onboarding/{token}/documents/pan-details": {
      "put": {
        "tags": [
          "documents"
        ],
        "summary": "Save Pan Details",
        "operationId": "save_pan_details_api_v1_onboarding__token__documents_pan_details_put",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Token"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PanDetailsUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/onboarding/{token}/documents/aadhaar-details": {
      "put": {
        "tags": [
          "documents"
        ],
        "summary": "Save Aadhaar Details",
        "operationId": "save_aadhaar_details_api_v1_onboarding__token__documents_aadhaar_details_put",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Token"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AadhaarDetailsUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/onboarding/{token}/documents/education-details": {
      "put": {
        "tags": [
          "documents"
        ],
        "summary": "Save Education Details",
        "operationId": "save_education_details_api_v1_onboarding__token__documents_education_details_put",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Token"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EducationDetailsUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/onboarding": {
      "get": {
        "tags": [
          "admin"
        ],
        "summary": "List Onboarding",
        "operationId": "list_onboarding_api_v1_admin_onboarding_get",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/OnboardingStatus"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Status"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OnboardingListItem"
                  },
                  "title": "Response List Onboarding Api V1 Admin Onboarding Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/onboarding/{record_id}/review": {
      "post": {
        "tags": [
          "admin"
        ],
        "summary": "Review Onboarding",
        "operationId": "review_onboarding_api_v1_admin_onboarding__record_id__review_post",
        "parameters": [
          {
            "name": "record_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Record Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReviewRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReviewResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/onboarding/{record_id}/convert-to-pos": {
      "post": {
        "tags": [
          "admin"
        ],
        "summary": "Convert To Pos",
        "description": "Manually promotes an active POS Referral to a full POS. Feeds the\nAgeing Report: joining_date (set on approval) and pos_conversion_date\n(set here) together give the \"how long were they a referral\" duration.",
        "operationId": "convert_to_pos_api_v1_admin_onboarding__record_id__convert_to_pos_post",
        "parameters": [
          {
            "name": "record_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Record Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConvertToPosRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConvertToPosResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/reports/ageing": {
      "get": {
        "tags": [
          "reports"
        ],
        "summary": "Ageing Report",
        "description": "Date of Joining -> POS Referral -> POS Conversion Date.\n\nIncludes every record that either currently is a POS Referral\n(pending conversion) or was converted from one (pos_conversion_date\nis set) - a plain POS that was never a referral has neither and is\nexcluded.",
        "operationId": "ageing_report_api_v1_admin_reports_ageing_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AgeingReportItem"
                  },
                  "type": "array",
                  "title": "Response Ageing Report Api V1 Admin Reports Ageing Get"
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "summary": "Health",
        "operationId": "health_health_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AadhaarDetailsUpdate": {
        "properties": {
          "aadhaar_number": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Aadhaar Number"
          },
          "aadhaar_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Aadhaar Name"
          },
          "aadhaar_dob": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ],
            "title": "Aadhaar Dob"
          },
          "aadhaar_yob": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Aadhaar Yob"
          },
          "aadhaar_gender": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Aadhaar Gender"
          },
          "aadhaar_address": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Aadhaar Address"
          },
          "aadhaar_city": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Aadhaar City"
          },
          "aadhaar_district": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Aadhaar District"
          },
          "aadhaar_state": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Aadhaar State"
          },
          "aadhaar_pincode": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Aadhaar Pincode"
          }
        },
        "type": "object",
        "title": "AadhaarDetailsUpdate"
      },
      "AgeingReportItem": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "name": {
            "type": "string",
            "title": "Name"
          },
          "number": {
            "type": "string",
            "title": "Number"
          },
          "raised_by": {
            "type": "string",
            "title": "Raised By"
          },
          "date_of_joining": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ],
            "title": "Date Of Joining"
          },
          "pos_conversion_date": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ],
            "title": "Pos Conversion Date"
          },
          "ageing_days": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Ageing Days"
          },
          "conversion_status": {
            "type": "string",
            "title": "Conversion Status"
          },
          "within_90_days": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Within 90 Days"
          }
        },
        "type": "object",
        "required": [
          "id",
          "name",
          "number",
          "raised_by",
          "date_of_joining",
          "pos_conversion_date",
          "ageing_days",
          "conversion_status",
          "within_90_days"
        ],
        "title": "AgeingReportItem",
        "description": "One row of the Ageing Report: how long a POS Referral has been (or\nwas) a referral before converting to a POS.\n\nconversion_status:\n  - \"CONVERTED\": already promoted to POS - ageing_days is final.\n  - \"PENDING\": still an active POS Referral - ageing_days counts up\n    to today, and within_90_days tells you if the 90-day target has\n    already been missed."
      },
      "Body_upload_document_api_v1_onboarding__token__documents_post": {
        "properties": {
          "file": {
            "type": "string",
            "contentMediaType": "application/octet-stream",
            "title": "File"
          }
        },
        "type": "object",
        "required": [
          "file"
        ],
        "title": "Body_upload_document_api_v1_onboarding__token__documents_post"
      },
      "ConsentStatus": {
        "type": "string",
        "enum": [
          "AGREE",
          "DISAGREE"
        ],
        "title": "ConsentStatus"
      },
      "ConvertToPosRequest": {
        "properties": {
          "converted_by": {
            "type": "string",
            "title": "Converted By"
          }
        },
        "type": "object",
        "required": [
          "converted_by"
        ],
        "title": "ConvertToPosRequest"
      },
      "ConvertToPosResponse": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "user_type": {
            "$ref": "#/components/schemas/UserType"
          },
          "joining_date": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ],
            "title": "Joining Date"
          },
          "pos_conversion_date": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ],
            "title": "Pos Conversion Date"
          },
          "ageing_days": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Ageing Days"
          },
          "message": {
            "type": "string",
            "title": "Message"
          }
        },
        "type": "object",
        "required": [
          "id",
          "user_type",
          "joining_date",
          "pos_conversion_date",
          "ageing_days",
          "message"
        ],
        "title": "ConvertToPosResponse"
      },
      "DocumentType": {
        "type": "string",
        "enum": [
          "PAN_CARD",
          "AADHAAR",
          "EDUCATIONAL_QUALIFICATION",
          "PHOTOGRAPH",
          "CANCELLED_CHEQUE"
        ],
        "title": "DocumentType",
        "description": "Which users_data file column an uploaded file is stored against."
      },
      "DocumentUploadResponse": {
        "properties": {
          "doc_type": {
            "$ref": "#/components/schemas/DocumentType"
          },
          "url": {
            "type": "string",
            "title": "Url"
          }
        },
        "type": "object",
        "required": [
          "doc_type",
          "url"
        ],
        "title": "DocumentUploadResponse"
      },
      "EducationDetailsUpdate": {
        "properties": {
          "education_student_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Education Student Name"
          },
          "education_father_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Education Father Name"
          },
          "education_mother_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Education Mother Name"
          },
          "qualification": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Qualification"
          },
          "course_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Course Name"
          },
          "specialization": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Specialization"
          },
          "institution_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Institution Name"
          },
          "university_board": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "University Board"
          },
          "registration_number": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Registration Number"
          },
          "roll_number": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Roll Number"
          },
          "examination_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Examination Name"
          },
          "passing_year": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Passing Year"
          },
          "semester_year": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Semester Year"
          },
          "total_marks": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Total Marks"
          },
          "maximum_marks": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Maximum Marks"
          },
          "percentage": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Percentage"
          },
          "cgpa": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Cgpa"
          },
          "grade": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Grade"
          },
          "result": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Result"
          },
          "certificate_number": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Certificate Number"
          },
          "certificate_issue_date": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ],
            "title": "Certificate Issue Date"
          }
        },
        "type": "object",
        "title": "EducationDetailsUpdate"
      },
      "GenerateLinkRequest": {
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 150,
            "title": "Name"
          },
          "number": {
            "type": "string",
            "maxLength": 15,
            "title": "Number"
          },
          "user_type": {
            "$ref": "#/components/schemas/UserType"
          },
          "raised_by": {
            "type": "string",
            "maxLength": 50,
            "title": "Raised By",
            "description": "SM employee code"
          }
        },
        "type": "object",
        "required": [
          "name",
          "number",
          "user_type",
          "raised_by"
        ],
        "title": "GenerateLinkRequest"
      },
      "GenerateLinkResponse": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "token": {
            "type": "string",
            "title": "Token"
          },
          "onboarding_url": {
            "type": "string",
            "title": "Onboarding Url"
          },
          "share": {
            "$ref": "#/components/schemas/ShareLinks"
          }
        },
        "type": "object",
        "required": [
          "id",
          "token",
          "onboarding_url",
          "share"
        ],
        "title": "GenerateLinkResponse"
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "LinkPrefillResponse": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "name": {
            "type": "string",
            "title": "Name"
          },
          "number": {
            "type": "string",
            "title": "Number"
          },
          "user_type": {
            "$ref": "#/components/schemas/UserType"
          },
          "status": {
            "$ref": "#/components/schemas/OnboardingStatus"
          }
        },
        "type": "object",
        "required": [
          "id",
          "name",
          "number",
          "user_type",
          "status"
        ],
        "title": "LinkPrefillResponse"
      },
      "OnboardingFormUpdate": {
        "properties": {
          "dob": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ],
            "title": "Dob"
          },
          "email": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Email"
          },
          "city": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "City"
          },
          "state": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "State"
          },
          "pincode": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Pincode"
          },
          "consent": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ConsentStatus"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "title": "OnboardingFormUpdate",
        "description": "Partial/upsert payload for the fields users_data actually has.\nterms_and_conditions is NOT editable here - it's a fixed value set at\ncreation, editable only via PUT .../terms-and-conditions."
      },
      "OnboardingListItem": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "name": {
            "type": "string",
            "title": "Name"
          },
          "number": {
            "type": "string",
            "title": "Number"
          },
          "user_type": {
            "$ref": "#/components/schemas/UserType"
          },
          "status": {
            "$ref": "#/components/schemas/OnboardingStatus"
          },
          "raised_by": {
            "type": "string",
            "title": "Raised By"
          },
          "reviewed_by": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Reviewed By"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At"
          }
        },
        "type": "object",
        "required": [
          "id",
          "name",
          "number",
          "user_type",
          "status",
          "raised_by",
          "created_at"
        ],
        "title": "OnboardingListItem"
      },
      "OnboardingRecordResponse": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "name": {
            "type": "string",
            "title": "Name"
          },
          "number": {
            "type": "string",
            "title": "Number"
          },
          "user_type": {
            "$ref": "#/components/schemas/UserType"
          },
          "status": {
            "$ref": "#/components/schemas/OnboardingStatus"
          },
          "raised_by": {
            "type": "string",
            "title": "Raised By"
          },
          "dob": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ],
            "title": "Dob"
          },
          "email": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Email"
          },
          "city": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "City"
          },
          "state": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "State"
          },
          "pincode": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Pincode"
          },
          "pan_card": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Pan Card"
          },
          "educational_qualification": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Educational Qualification"
          },
          "aadhaar": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Aadhaar"
          },
          "photograph": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Photograph"
          },
          "cancelled_cheque": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Cancelled Cheque"
          },
          "terms_and_conditions": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Terms And Conditions"
          },
          "consent": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ConsentStatus"
              },
              {
                "type": "null"
              }
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "title": "Updated At"
          },
          "updated_by": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Updated By"
          },
          "reviewed_by": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Reviewed By"
          }
        },
        "type": "object",
        "required": [
          "id",
          "name",
          "number",
          "user_type",
          "status",
          "raised_by",
          "created_at",
          "updated_at"
        ],
        "title": "OnboardingRecordResponse"
      },
      "OnboardingStatus": {
        "type": "string",
        "enum": [
          "LINK_GENERATED",
          "FORM_IN_PROGRESS",
          "SUBMITTED",
          "UNDER_REVIEW",
          "SEND_BACK",
          "REJECTED",
          "APPROVED",
          "ACTIVE"
        ],
        "title": "OnboardingStatus"
      },
      "PanDetailsUpdate": {
        "properties": {
          "pan_number": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Pan Number"
          },
          "pan_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Pan Name"
          },
          "pan_father_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Pan Father Name"
          },
          "pan_dob": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ],
            "title": "Pan Dob"
          },
          "pan_gender": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Pan Gender"
          }
        },
        "type": "object",
        "title": "PanDetailsUpdate"
      },
      "ReviewAction": {
        "type": "string",
        "enum": [
          "APPROVE",
          "REJECT",
          "SEND_BACK"
        ],
        "title": "ReviewAction"
      },
      "ReviewRequest": {
        "properties": {
          "action": {
            "$ref": "#/components/schemas/ReviewAction"
          },
          "reviewed_by": {
            "type": "string",
            "title": "Reviewed By"
          }
        },
        "type": "object",
        "required": [
          "action",
          "reviewed_by"
        ],
        "title": "ReviewRequest"
      },
      "ReviewResponse": {
        "properties": {
          "status": {
            "$ref": "#/components/schemas/OnboardingStatus"
          },
          "new_onboarding_url": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "New Onboarding Url"
          },
          "message": {
            "type": "string",
            "title": "Message"
          }
        },
        "type": "object",
        "required": [
          "status",
          "message"
        ],
        "title": "ReviewResponse"
      },
      "ShareLinks": {
        "properties": {
          "copy_link": {
            "type": "string",
            "title": "Copy Link"
          },
          "whatsapp": {
            "type": "string",
            "title": "Whatsapp"
          },
          "sms": {
            "type": "string",
            "title": "Sms"
          }
        },
        "type": "object",
        "required": [
          "copy_link",
          "whatsapp",
          "sms"
        ],
        "title": "ShareLinks"
      },
      "SubmitResponse": {
        "properties": {
          "status": {
            "$ref": "#/components/schemas/OnboardingStatus"
          },
          "message": {
            "type": "string",
            "title": "Message"
          }
        },
        "type": "object",
        "required": [
          "status",
          "message"
        ],
        "title": "SubmitResponse"
      },
      "TermsAndConditionsUpdate": {
        "properties": {
          "terms_and_conditions": {
            "type": "string",
            "title": "Terms And Conditions"
          }
        },
        "type": "object",
        "required": [
          "terms_and_conditions"
        ],
        "title": "TermsAndConditionsUpdate"
      },
      "UserType": {
        "type": "string",
        "enum": [
          "POS",
          "POS_REFERRAL"
        ],
        "title": "UserType"
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          },
          "input": {
            "title": "Input"
          },
          "ctx": {
            "type": "object",
            "title": "Context"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      }
    }
  }
}