{
  "openapi": "3.1.0",
  "info": {
    "title": "POS / POS Referral Onboarding API",
    "description": "Backend for the digital onboarding flow (link generation, form, documents, approvals) for POS, POS Referral, and BQP Employee. Login/auth is provided by an existing system and is not part of this service.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://pibspartners.com",
      "description": "Production"
    },
    {
      "url": "http://localhost:8000",
      "description": "Local dev"
    }
  ],
  "paths": {
    "/api/v1/links/generate": {
      "post": {
        "tags": [
          "links"
        ],
        "summary": "Generate Link",
        "description": "Called by the SM (Sales Manager) app after the SM logs in and enters\nthe POS / Referral name + mobile number. Creates the onboarding\nrecord and returns a token + shareable URL - nothing is rendered by\nthis backend; the URL points at a route the frontend team owns.\n\nPOS / POS Referral only - BQP Employees skip link generation\nentirely, see POST /api/v1/employees/onboard.",
        "operationId": "generate_link_api_v1_links_generate_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateLinkRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateLinkResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/links/{token}": {
      "get": {
        "tags": [
          "links"
        ],
        "summary": "Resolve Link",
        "description": "The frontend's onboarding page calls this on load (using the :token\nfrom its own route) to validate the link and get the prefill data\n(name, number, email, user_type, current status) needed to render\nthe correct form/step, pre-filled and non-editable. This is how the\nshared link \"renders\" on the frontend - the backend never serves\nHTML, it only backs the route.",
        "operationId": "resolve_link_api_v1_links__token__get",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Token"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkPrefillResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/employees/onboard": {
      "post": {
        "tags": [
          "employees"
        ],
        "summary": "Onboard Employee",
        "description": "BQP Employee onboarding - no SM, no link generation. The employee\n(or whoever raises it) submits name/number/email directly; user_type\nis forced to EMPLOYEE and the record starts at FORM_IN_PROGRESS\n(there's no LINK_GENERATED stage since no link exists). The\nreturned token drives the same onboarding/document endpoints as the\nPOS/Referral flow - PUT .../onboarding/{token}/form,\nPOST .../onboarding/{token}/documents, POST .../onboarding/{token}/submit.\n\nDocument data extraction (PAN/Aadhaar/bank details into\ndocument_details) is done by a separate document-processing service\ncalling the existing PUT .../documents/{pan,aadhaar,bank}-details\nendpoints - nothing extra needed here for that.",
        "operationId": "onboard_employee_api_v1_employees_onboard_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeOnboardRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeOnboardResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/onboarding/{token}": {
      "get": {
        "tags": [
          "onboarding"
        ],
        "summary": "Get Onboarding Record",
        "operationId": "get_onboarding_record_api_v1_onboarding__token__get",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Token"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnboardingRecordResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/onboarding/{token}/form": {
      "put": {
        "tags": [
          "onboarding"
        ],
        "summary": "Save Form",
        "operationId": "save_form_api_v1_onboarding__token__form_put",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Token"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OnboardingFormUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnboardingRecordResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/onboarding/{token}/terms-and-conditions": {
      "put": {
        "tags": [
          "onboarding"
        ],
        "summary": "Update Terms And Conditions",
        "description": "Edits ONLY terms_and_conditions, independent of the general form-save\nendpoint. terms_and_conditions is set to a fixed value at record\ncreation - this is the sole way to change it afterward.",
        "operationId": "update_terms_and_conditions_api_v1_onboarding__token__terms_and_conditions_put",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Token"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TermsAndConditionsUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnboardingRecordResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/onboarding/{token}/submit": {
      "post": {
        "tags": [
          "onboarding"
        ],
        "summary": "Submit Form",
        "description": "Final \"Review & Submit\" step, same for POS/Referral/Employee. Runs\nbasic form/document validation and a duplicate-number check, then\nmoves the record to SUBMITTED - OPS explicitly starts the\neligibility check from there (POST .../admin/onboarding/{id}/review\nwith next_status=UNDER_REVIEW).",
        "operationId": "submit_form_api_v1_onboarding__token__submit_post",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Token"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/onboarding/{token}/documents": {
      "post": {
        "tags": [
          "documents"
        ],
        "summary": "Upload Document",
        "operationId": "upload_document_api_v1_onboarding__token__documents_post",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Token"
            }
          },
          {
            "name": "doc_type",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/DocumentType"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_upload_document_api_v1_onboarding__token__documents_post"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentUploadResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/onboarding/{token}/documents/pan-details": {
      "put": {
        "tags": [
          "documents"
        ],
        "summary": "Save Pan Details",
        "operationId": "save_pan_details_api_v1_onboarding__token__documents_pan_details_put",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Token"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PanDetailsUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/onboarding/{token}/documents/aadhaar-details": {
      "put": {
        "tags": [
          "documents"
        ],
        "summary": "Save Aadhaar Details",
        "operationId": "save_aadhaar_details_api_v1_onboarding__token__documents_aadhaar_details_put",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Token"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AadhaarDetailsUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/onboarding/{token}/documents/bank-details": {
      "put": {
        "tags": [
          "documents"
        ],
        "summary": "Save Bank Details",
        "operationId": "save_bank_details_api_v1_onboarding__token__documents_bank_details_put",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Token"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BankDetailsUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/onboarding": {
      "get": {
        "tags": [
          "admin"
        ],
        "summary": "List Onboarding",
        "operationId": "list_onboarding_api_v1_admin_onboarding_get",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/OnboardingStatus"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Status"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OnboardingListItem"
                  },
                  "title": "Response List Onboarding Api V1 Admin Onboarding Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/onboarding/{record_id}/review": {
      "post": {
        "tags": [
          "admin"
        ],
        "summary": "Review Onboarding",
        "description": "Moves a record one step through the OPS pipeline:\nSUBMITTED -> UNDER_REVIEW -> UNDER_TRAINING -> ONBOARDED -> AGREEMENT\n-> WELCOME_MESSAGE, no skipping. REJECTED/SEND_BACK are only legal\nwhile at UNDER_REVIEW (eligibility check).",
        "operationId": "review_onboarding_api_v1_admin_onboarding__record_id__review_post",
        "parameters": [
          {
            "name": "record_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Record Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReviewRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReviewResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/onboarding/{record_id}/convert-to-pos": {
      "post": {
        "tags": [
          "admin"
        ],
        "summary": "Convert To Pos",
        "description": "Manually promotes an onboarded POS Referral to a full POS. Feeds the\nAgeing Report: joining_date (set on first reaching ONBOARDED) and\npos_conversion_date (set here) together give the \"how long were they\na referral\" duration.",
        "operationId": "convert_to_pos_api_v1_admin_onboarding__record_id__convert_to_pos_post",
        "parameters": [
          {
            "name": "record_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Record Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConvertToPosRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConvertToPosResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/users-data": {
      "get": {
        "tags": [
          "admin-records"
        ],
        "summary": "List Users Data",
        "operationId": "list_users_data_api_v1_admin_users_data_get",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "minimum": 1,
              "default": 50,
              "title": "Limit"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0,
              "title": "Offset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UsersDataWithDocumentDetails"
                  },
                  "title": "Response List Users Data Api V1 Admin Users Data Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/users-data/{record_id}": {
      "get": {
        "tags": [
          "admin-records"
        ],
        "summary": "Get Users Data",
        "operationId": "get_users_data_api_v1_admin_users_data__record_id__get",
        "parameters": [
          {
            "name": "record_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Record Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsersDataWithDocumentDetails"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/document-details": {
      "get": {
        "tags": [
          "admin-records"
        ],
        "summary": "List Document Details",
        "operationId": "list_document_details_api_v1_admin_document_details_get",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "minimum": 1,
              "default": 50,
              "title": "Limit"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0,
              "title": "Offset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DocumentDetailsResponse"
                  },
                  "title": "Response List Document Details Api V1 Admin Document Details Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/document-details/{document_id}": {
      "get": {
        "tags": [
          "admin-records"
        ],
        "summary": "Get Document Details",
        "operationId": "get_document_details_api_v1_admin_document_details__document_id__get",
        "parameters": [
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Document Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentDetailsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/reports/ageing": {
      "get": {
        "tags": [
          "reports"
        ],
        "summary": "Ageing Report",
        "description": "Date of Joining -> POS Referral -> POS Conversion Date.\n\nIncludes every record that either currently is a POS Referral\n(pending conversion) or was converted from one (pos_conversion_date\nis set) - a plain POS that was never a referral has neither and is\nexcluded.",
        "operationId": "ageing_report_api_v1_admin_reports_ageing_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AgeingReportItem"
                  },
                  "type": "array",
                  "title": "Response Ageing Report Api V1 Admin Reports Ageing Get"
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "summary": "Health",
        "operationId": "health_health_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AadhaarDetailsUpdate": {
        "properties": {
          "aadhaar_number": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Aadhaar Number"
          },
          "aadhaar_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Aadhaar Name"
          },
          "aadhaar_dob": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ],
            "title": "Aadhaar Dob"
          },
          "aadhaar_gender": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Aadhaar Gender"
          },
          "aadhaar_address": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Aadhaar Address"
          },
          "aadhaar_city": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Aadhaar City"
          },
          "aadhaar_district": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Aadhaar District"
          },
          "aadhaar_state": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Aadhaar State"
          },
          "aadhaar_pincode": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Aadhaar Pincode"
          },
          "updated_by": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Updated By"
          }
        },
        "type": "object",
        "title": "AadhaarDetailsUpdate"
      },
      "AgeingReportItem": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "name": {
            "type": "string",
            "title": "Name"
          },
          "number": {
            "type": "string",
            "title": "Number"
          },
          "raised_by": {
            "type": "string",
            "title": "Raised By"
          },
          "date_of_joining": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ],
            "title": "Date Of Joining"
          },
          "pos_conversion_date": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ],
            "title": "Pos Conversion Date"
          },
          "ageing_days": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Ageing Days"
          },
          "conversion_status": {
            "type": "string",
            "title": "Conversion Status"
          },
          "within_90_days": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Within 90 Days"
          }
        },
        "type": "object",
        "required": [
          "id",
          "name",
          "number",
          "raised_by",
          "date_of_joining",
          "pos_conversion_date",
          "ageing_days",
          "conversion_status",
          "within_90_days"
        ],
        "title": "AgeingReportItem",
        "description": "One row of the Ageing Report: how long a POS Referral has been (or\nwas) a referral before converting to a POS.\n\nconversion_status:\n  - \"CONVERTED\": already promoted to POS - ageing_days is final.\n  - \"PENDING\": still an active POS Referral - ageing_days counts up\n    to today, and within_90_days tells you if the 90-day target has\n    already been missed."
      },
      "BankDetailsUpdate": {
        "properties": {
          "account_holder_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Account Holder Name"
          },
          "account_number": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Account Number"
          },
          "ifsc_code": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Ifsc Code"
          },
          "bank_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Bank Name"
          },
          "updated_by": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Updated By"
          }
        },
        "type": "object",
        "title": "BankDetailsUpdate"
      },
      "Body_upload_document_api_v1_onboarding__token__documents_post": {
        "properties": {
          "file": {
            "type": "string",
            "contentMediaType": "application/octet-stream",
            "title": "File"
          }
        },
        "type": "object",
        "required": [
          "file"
        ],
        "title": "Body_upload_document_api_v1_onboarding__token__documents_post"
      },
      "ConsentStatus": {
        "type": "string",
        "enum": [
          "AGREE",
          "DISAGREE"
        ],
        "title": "ConsentStatus"
      },
      "ConvertToPosRequest": {
        "properties": {
          "converted_by": {
            "type": "string",
            "title": "Converted By"
          }
        },
        "type": "object",
        "required": [
          "converted_by"
        ],
        "title": "ConvertToPosRequest"
      },
      "ConvertToPosResponse": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "user_type": {
            "$ref": "#/components/schemas/UserType"
          },
          "joining_date": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ],
            "title": "Joining Date"
          },
          "pos_conversion_date": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ],
            "title": "Pos Conversion Date"
          },
          "ageing_days": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Ageing Days"
          },
          "message": {
            "type": "string",
            "title": "Message"
          }
        },
        "type": "object",
        "required": [
          "id",
          "user_type",
          "joining_date",
          "pos_conversion_date",
          "ageing_days",
          "message"
        ],
        "title": "ConvertToPosResponse"
      },
      "DocumentDetailsResponse": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "users_data_id": {
            "type": "string",
            "title": "Users Data Id"
          },
          "age": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Age"
          },
          "pan_number": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Pan Number"
          },
          "pan_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Pan Name"
          },
          "pan_father_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Pan Father Name"
          },
          "pan_dob": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ],
            "title": "Pan Dob"
          },
          "aadhaar_number": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Aadhaar Number"
          },
          "aadhaar_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Aadhaar Name"
          },
          "aadhaar_dob": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ],
            "title": "Aadhaar Dob"
          },
          "aadhaar_gender": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Aadhaar Gender"
          },
          "aadhaar_address": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Aadhaar Address"
          },
          "aadhaar_city": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Aadhaar City"
          },
          "aadhaar_district": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Aadhaar District"
          },
          "aadhaar_state": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Aadhaar State"
          },
          "aadhaar_pincode": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Aadhaar Pincode"
          },
          "account_holder_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Account Holder Name"
          },
          "account_number": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Account Number"
          },
          "ifsc_code": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Ifsc Code"
          },
          "bank_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Bank Name"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "title": "Updated At"
          },
          "updated_by": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Updated By"
          }
        },
        "type": "object",
        "required": [
          "id",
          "users_data_id",
          "created_at",
          "updated_at"
        ],
        "title": "DocumentDetailsResponse"
      },
      "DocumentType": {
        "type": "string",
        "enum": [
          "PAN_CARD",
          "AADHAAR",
          "EDUCATIONAL_QUALIFICATION",
          "PHOTOGRAPH",
          "CANCELLED_CHEQUE",
          "PASSBOOK"
        ],
        "title": "DocumentType",
        "description": "Which users_data file column an uploaded file is stored against."
      },
      "DocumentUploadResponse": {
        "properties": {
          "doc_type": {
            "$ref": "#/components/schemas/DocumentType"
          },
          "url": {
            "type": "string",
            "title": "Url"
          }
        },
        "type": "object",
        "required": [
          "doc_type",
          "url"
        ],
        "title": "DocumentUploadResponse"
      },
      "EmployeeOnboardRequest": {
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 150,
            "title": "Name"
          },
          "number": {
            "type": "string",
            "maxLength": 15,
            "title": "Number"
          },
          "email": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 150
              },
              {
                "type": "null"
              }
            ],
            "title": "Email"
          },
          "raised_by": {
            "type": "string",
            "maxLength": 50,
            "title": "Raised By",
            "description": "Employee code of whoever is raising this request"
          }
        },
        "type": "object",
        "required": [
          "name",
          "number",
          "raised_by"
        ],
        "title": "EmployeeOnboardRequest",
        "description": "BQP Employee onboarding has no link-generation step - the employee\n(or whoever is raising it on their behalf) fills this directly.\nuser_type is always EMPLOYEE; there's nothing to choose here."
      },
      "EmployeeOnboardResponse": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "token": {
            "type": "string",
            "title": "Token"
          }
        },
        "type": "object",
        "required": [
          "id",
          "token"
        ],
        "title": "EmployeeOnboardResponse",
        "description": "No onboarding_url here - there's no link to share. token is the same\nhandle used everywhere else (PUT .../onboarding/{token}/form,\nPOST .../onboarding/{token}/documents, etc.) - the employee's own\nclient just holds onto it directly instead of receiving it via URL."
      },
      "GenerateLinkRequest": {
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 150,
            "title": "Name"
          },
          "number": {
            "type": "string",
            "maxLength": 15,
            "title": "Number"
          },
          "email": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 150
              },
              {
                "type": "null"
              }
            ],
            "title": "Email"
          },
          "user_type": {
            "$ref": "#/components/schemas/UserType"
          },
          "raised_by": {
            "type": "string",
            "maxLength": 50,
            "title": "Raised By",
            "description": "SM employee code"
          }
        },
        "type": "object",
        "required": [
          "name",
          "number",
          "user_type",
          "raised_by"
        ],
        "title": "GenerateLinkRequest"
      },
      "GenerateLinkResponse": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "token": {
            "type": "string",
            "title": "Token"
          },
          "onboarding_url": {
            "type": "string",
            "title": "Onboarding Url"
          },
          "share": {
            "$ref": "#/components/schemas/ShareLinks"
          }
        },
        "type": "object",
        "required": [
          "id",
          "token",
          "onboarding_url",
          "share"
        ],
        "title": "GenerateLinkResponse"
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "LinkPrefillResponse": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "name": {
            "type": "string",
            "title": "Name"
          },
          "number": {
            "type": "string",
            "title": "Number"
          },
          "email": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Email"
          },
          "user_type": {
            "$ref": "#/components/schemas/UserType"
          },
          "status": {
            "$ref": "#/components/schemas/OnboardingStatus"
          }
        },
        "type": "object",
        "required": [
          "id",
          "name",
          "number",
          "user_type",
          "status"
        ],
        "title": "LinkPrefillResponse",
        "description": "What the frontend pre-fills, non-editable, when the POS/Referral\nopens their link - name/number/email/user_type are locked in at\nlink-generation time; everything else is filled in by the user."
      },
      "OnboardingFormUpdate": {
        "properties": {
          "dob": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ],
            "title": "Dob"
          },
          "city": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "City"
          },
          "state": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "State"
          },
          "pincode": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Pincode"
          },
          "consent": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ConsentStatus"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "title": "OnboardingFormUpdate",
        "description": "Partial/upsert payload for the fields the user fills in themselves.\nname/number/email/user_type are set at link-generation (or, for a\nBQP Employee, at POST /api/v1/employees/onboard) and are NOT\neditable here - pre-filled and locked per spec. terms_and_conditions\nis also NOT editable here - fixed at creation, editable only via\nPUT .../terms-and-conditions."
      },
      "OnboardingListItem": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "name": {
            "type": "string",
            "title": "Name"
          },
          "number": {
            "type": "string",
            "title": "Number"
          },
          "user_type": {
            "$ref": "#/components/schemas/UserType"
          },
          "status": {
            "$ref": "#/components/schemas/OnboardingStatus"
          },
          "onboarding_link": {
            "type": "string",
            "title": "Onboarding Link"
          },
          "raised_by": {
            "type": "string",
            "title": "Raised By"
          },
          "reviewed_by": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Reviewed By"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At"
          }
        },
        "type": "object",
        "required": [
          "id",
          "name",
          "number",
          "user_type",
          "status",
          "onboarding_link",
          "raised_by",
          "created_at"
        ],
        "title": "OnboardingListItem"
      },
      "OnboardingRecordResponse": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "name": {
            "type": "string",
            "title": "Name"
          },
          "number": {
            "type": "string",
            "title": "Number"
          },
          "user_type": {
            "$ref": "#/components/schemas/UserType"
          },
          "status": {
            "$ref": "#/components/schemas/OnboardingStatus"
          },
          "raised_by": {
            "type": "string",
            "title": "Raised By"
          },
          "dob": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ],
            "title": "Dob"
          },
          "email": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Email"
          },
          "city": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "City"
          },
          "state": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "State"
          },
          "pincode": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Pincode"
          },
          "pan_card": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Pan Card"
          },
          "educational_qualification": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Educational Qualification"
          },
          "aadhaar": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Aadhaar"
          },
          "photograph": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Photograph"
          },
          "cancelled_cheque": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Cancelled Cheque"
          },
          "passbook": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Passbook"
          },
          "terms_and_conditions": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Terms And Conditions"
          },
          "consent": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ConsentStatus"
              },
              {
                "type": "null"
              }
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "title": "Updated At"
          },
          "updated_by": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Updated By"
          },
          "reviewed_by": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Reviewed By"
          }
        },
        "type": "object",
        "required": [
          "id",
          "name",
          "number",
          "user_type",
          "status",
          "raised_by",
          "created_at",
          "updated_at"
        ],
        "title": "OnboardingRecordResponse"
      },
      "OnboardingStatus": {
        "type": "string",
        "enum": [
          "LINK_GENERATED",
          "FORM_IN_PROGRESS",
          "SUBMITTED",
          "UNDER_REVIEW",
          "UNDER_TRAINING",
          "ONBOARDED",
          "AGREEMENT",
          "WELCOME_MESSAGE",
          "SEND_BACK",
          "REJECTED"
        ],
        "title": "OnboardingStatus",
        "description": "Pipeline (POS / POS Referral / BQP Employee all share it once a\nrecord exists):\n\n  LINK_GENERATED (POS/Referral only - set at link creation, an\n  Employee record starts at FORM_IN_PROGRESS since there's no link)\n    -> FORM_IN_PROGRESS (first form save)\n    -> SUBMITTED (user submits)\n    -> UNDER_REVIEW (OPS starts the eligibility check)\n    -> UNDER_TRAINING\n    -> ONBOARDED (joining_date is stamped here - see UsersData.joining_date)\n    -> AGREEMENT\n    -> WELCOME_MESSAGE\n\nREJECTED / SEND_BACK are the only exits, and only from UNDER_REVIEW\n(eligibility check failed). SEND_BACK rotates the token and unlocks\nthe form for corrections; REJECTED is terminal.\n\nOPS drives every UNDER_REVIEW -> ... -> WELCOME_MESSAGE transition\nexplicitly via POST /api/v1/admin/onboarding/{id}/review - see\napp.routers.workflow.PIPELINE_ORDER."
      },
      "PanDetailsUpdate": {
        "properties": {
          "age": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Age"
          },
          "pan_number": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Pan Number"
          },
          "pan_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Pan Name"
          },
          "pan_father_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Pan Father Name"
          },
          "pan_dob": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ],
            "title": "Pan Dob"
          },
          "updated_by": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Updated By"
          }
        },
        "type": "object",
        "title": "PanDetailsUpdate"
      },
      "ReviewRequest": {
        "properties": {
          "next_status": {
            "$ref": "#/components/schemas/OnboardingStatus"
          },
          "reviewed_by": {
            "type": "string",
            "title": "Reviewed By"
          }
        },
        "type": "object",
        "required": [
          "next_status",
          "reviewed_by"
        ],
        "title": "ReviewRequest",
        "description": "next_status must be the immediate next stage in the pipeline\n(see app.routers.workflow.PIPELINE_ORDER) - e.g. from UNDER_REVIEW\nyou may only move to UNDER_TRAINING, REJECTED, or SEND_BACK; no\nskipping stages. REJECTED/SEND_BACK are only legal while the record\nis at UNDER_REVIEW (the eligibility-check stage)."
      },
      "ReviewResponse": {
        "properties": {
          "status": {
            "$ref": "#/components/schemas/OnboardingStatus"
          },
          "new_onboarding_url": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "New Onboarding Url"
          },
          "message": {
            "type": "string",
            "title": "Message"
          }
        },
        "type": "object",
        "required": [
          "status",
          "message"
        ],
        "title": "ReviewResponse"
      },
      "ShareLinks": {
        "properties": {
          "copy_link": {
            "type": "string",
            "title": "Copy Link"
          },
          "whatsapp": {
            "type": "string",
            "title": "Whatsapp"
          },
          "sms": {
            "type": "string",
            "title": "Sms"
          }
        },
        "type": "object",
        "required": [
          "copy_link",
          "whatsapp",
          "sms"
        ],
        "title": "ShareLinks"
      },
      "SubmitResponse": {
        "properties": {
          "status": {
            "$ref": "#/components/schemas/OnboardingStatus"
          },
          "message": {
            "type": "string",
            "title": "Message"
          }
        },
        "type": "object",
        "required": [
          "status",
          "message"
        ],
        "title": "SubmitResponse"
      },
      "TermsAndConditionsUpdate": {
        "properties": {
          "terms_and_conditions": {
            "type": "string",
            "title": "Terms And Conditions"
          }
        },
        "type": "object",
        "required": [
          "terms_and_conditions"
        ],
        "title": "TermsAndConditionsUpdate"
      },
      "UserType": {
        "type": "string",
        "enum": [
          "POS",
          "POS_REFERRAL",
          "EMPLOYEE"
        ],
        "title": "UserType"
      },
      "UsersDataWithDocumentDetails": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "name": {
            "type": "string",
            "title": "Name"
          },
          "number": {
            "type": "string",
            "title": "Number"
          },
          "user_type": {
            "$ref": "#/components/schemas/UserType"
          },
          "status": {
            "$ref": "#/components/schemas/OnboardingStatus"
          },
          "raised_by": {
            "type": "string",
            "title": "Raised By"
          },
          "dob": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ],
            "title": "Dob"
          },
          "email": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Email"
          },
          "city": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "City"
          },
          "state": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "State"
          },
          "pincode": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Pincode"
          },
          "pan_card": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Pan Card"
          },
          "educational_qualification": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Educational Qualification"
          },
          "aadhaar": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Aadhaar"
          },
          "photograph": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Photograph"
          },
          "cancelled_cheque": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Cancelled Cheque"
          },
          "passbook": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Passbook"
          },
          "terms_and_conditions": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Terms And Conditions"
          },
          "consent": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ConsentStatus"
              },
              {
                "type": "null"
              }
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "title": "Updated At"
          },
          "updated_by": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Updated By"
          },
          "reviewed_by": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Reviewed By"
          },
          "document_details": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/DocumentDetailsResponse"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": [
          "id",
          "name",
          "number",
          "user_type",
          "status",
          "raised_by",
          "created_at",
          "updated_at"
        ],
        "title": "UsersDataWithDocumentDetails",
        "description": "users_data + its document_details row, joined on users_data_id.\ndocument_details is null if that record hasn't saved any PAN/Aadhaar/\nbank details yet."
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          },
          "input": {
            "title": "Input"
          },
          "ctx": {
            "type": "object",
            "title": "Context"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      }
    }
  }
}